/* -----Fonts---
 font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

body {
  font-family: 'Montserrat';
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  max-width: 35%;
  transform: rotate(25deg);
  position: absolute;
  top: 180px;
}

.title-content {
  margin-bottom: 10%;
}

/* Features */
#features {
  background-color: white;
  position: relative;
}

.fa-check-circle {
  font-size: 350%;
  color: #ef8172;
}

.fa-check-circle:hover {
  color: #ff4c68;
}

.fa-bullseye {
  font-size: 350%;
  color: #ef8172;
}

.fa-bullseye:hover {
  color: #ff4c68;
}

.fa-heart {
  font-size: 350%;
  color: #ef8172;
}

.fa-heart:hover {
  color: #ff4c68;
}

.feature-box {
  text-align: center;
  margin: 50px 0;
  padding: 0 0;
}

.featureh3 {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: bold;
  margin-top: 15px;
}

.featurep {
  color: #8f8f8f;
  margin: 0 50px;
}

.feature-container {
  padding: 7% 5% 5% 5%;
  margin-left: 0;
  margin-right: 0;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#testimonial-carousel {
  padding: 7% 15%;
}

/* Pricing */
.dog-price {
  margin-bottom: 57px;
}

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.pricingh3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 2%
}

.pricing-title {
  text-align: center;
}

/* CTA */
#cta {
  background-color: #ff4c68;
  padding: 8% 20% 5% 20%;
  text-align: center;
}

.h3cta {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  padding-bottom: 3%
}

/* Footer */
#footer {
  padding: 8% 5% 8% 5%;
  text-align: center;
}

.footer-copyright {
  color: #8f8f8f;
  font-family: 'Ubuntu';
}

.footer-icons {
  margin: 0 10px 20px 10px;
  font-weight: bold;
}

.footer-icons:hover {
  color: #ff4c68;
  cursor: pointer;
}

@media (max-width: 992px) {
  .title-image {
    position: static;
    transform: rotate(0);
    max-width: 100%
  }

  .title-image-container-height {
    text-align: center;
  }

  .title-download-box {
    text-align: center;
  }
}
